/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

header {
  position: relative;
  background-color: blue;
  margin-top: 100px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #a5a5a5;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.header .nav-item-hover:after, .pricing .pricing-list-item:before, .promo-banner:before, .promo-block:before, .work .work-overlay:before {
  content: " "
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.9285;
  font-weight: 400;
  color: #72728c;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.review {
  width: 100%;
  background: #FFFFFF;
  padding-top: 115px;
  padding-bottom: 116px;
}

.promo-banner:before, .promo-block:before, .work .work-overlay:before, .work .work-popup-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  left: 0
}

.promo-block {
  position: relative;
  z-index: 1;
  background: url(../images/01.jpg) center center no-repeat;
  background-size: cover;
  padding: 250px 0 200px
}

.promo-block:before {
  position: absolute;
  z-index: -1;
  background: rgba(81, 87, 105, .4)
}

.promo-block .promo-block-title {
  font-size: 70px;
  color: #fff
}

@media (max-width:480px) {
  .promo-block .promo-block-title {
    font-size: 50px
  }
}

.promo-block .promo-block-text {
  font-size: 25px;
  color: #fff
}

/*********************************
3. Destinations
*********************************/
.destinations {
  width: 100%;
  background: #FFFFFF;
  padding-top: 115px;
  padding-bottom: 116px;
}

.section_subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #72728c;
  line-height: 0.75;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.section_title {
  color: #181818;
  margin-top: 26px;
}

.destinations_row {
  margin-top: 99px;
}

.destination_image {
  width: 100%;
}

.destination_image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.destination {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 33px;
  float: left;
  top: 10px;
}

.destination_title {
  margin-top: 15px;
}

.destination_title a {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #181818;
}

.destination_subtitle {
  margin-top: -4px;
}

.destination_price {
  font-size: 16px;
  font-weight: 700;
  color: #181818;
  margin-top: 16px;
}

.text {
  float: center;
  margin: 5px 5px 5px 5px;
}
